<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Error"
	  internalLogFile="${Logedir}./nlog-internal.txt">

  <variable name="Logedir" value="E:\WorkingFolder_OF\ServiceInitiation\Nlog\" />

  <targets>

    <target name="OF.ServiceInitiation.CentralBankConn.API" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
			fileName="${Logedir}/OF.ServiceInitiation.CentralBankConn.API/OF.ServiceInitiation.CentralBankConn.API.txt"
			archiveAboveSize="2000000"
			archiveFileName="${Logedir}/OF.ServiceInitiation.CentralBankConn.API/Archives/OF.ServiceInitiation.CentralBankConn.API.{#}.txt"
			archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			archiveNumbering="Date"
			maxArchiveDays="1"
			concurrentWrites="true"
			keepFileOpen="true"
			openFileCacheTimeout="30" />
    <target name="AccountsApi" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
			fileName="${Logedir}/AccountsApi/AccountsApi.txt"
			archiveAboveSize="2000000"
			archiveFileName="${Logedir}/AccountsApi/Archives/AccountsApi.{#}.txt"
			archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			archiveNumbering="Date"
			maxArchiveDays="1"
			concurrentWrites="true"
			keepFileOpen="true"
			openFileCacheTimeout="30" />
    <target name="AccountsApiJson" xsi:type="File"
			fileName="${Logedir}/AccountsApiJson/AccountsApiJson.json"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"/>
    <target name="FxQuotesApi" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
			fileName="${Logedir}/FxQuotesApi/FxQuotesApi.txt"
			archiveAboveSize="2000000"
			archiveFileName="${Logedir}/FxQuotesApi/Archives/FxQuotesApi.{#}.txt"
			archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			archiveNumbering="Date"
			maxArchiveDays="1"
			concurrentWrites="true"
			keepFileOpen="true"
			openFileCacheTimeout="30" />
    <target name="FxQuotesApiJson" xsi:type="File"
			fileName="${Logedir}/FxQuotesApiJson/FxQuotesApiJson.json"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"/>
    <target name="PaymentFileApi" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
			fileName="${Logedir}/PaymentFileApi/PaymentFileApi.txt"
			archiveAboveSize="2000000"
			archiveFileName="${Logedir}/PaymentFileApi/Archives/PaymentFileApi.{#}.txt"
			archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			archiveNumbering="Date"
			maxArchiveDays="1"
			concurrentWrites="true"
			keepFileOpen="true"
			openFileCacheTimeout="30" />
    <target name="PaymentFileApiJson" xsi:type="File"
			fileName="${Logedir}/PaymentFileApiJson/PaymentFileApiJson.json"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"/>
    <target name="PaymentsApi" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
			fileName="${Logedir}/PaymentsApi/PaymentsApi.txt"
			archiveAboveSize="2000000"
			archiveFileName="${Logedir}/PaymentsApi/Archives/PaymentsApi.{#}.txt"
			archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			archiveNumbering="Date"
			maxArchiveDays="1"
			concurrentWrites="true"
			keepFileOpen="true"
			openFileCacheTimeout="30" />
    <target name="PaymentsApiJson" xsi:type="File"
			fileName="${Logedir}/PaymentsApiJson/PaymentsApiJson.json"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"/>
    <target name="ExceptionMiddleware" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
     fileName="${Logedir}/ExceptionMiddleware/ExceptionMiddleware.txt"
     archiveAboveSize="2000000"
     archiveFileName="${Logedir}/ExceptionMiddleware/Archives/ExceptionMiddleware.{#}.txt"
     archiveDateFormat="yyyy-MM-dd HH_mm_ss"
     archiveNumbering="Date"
     maxArchiveDays="1"
     concurrentWrites="true"
     keepFileOpen="true"
     openFileCacheTimeout="30" />
    <target name="ExceptionMiddlewareJson" xsi:type="File"
			fileName="${Logedir}/ExceptionMiddlewareJson/ExceptionMiddlewareJson.json"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"/>
    <layout xsi:type="JsonLayout" includeAllProperties="true" renderEmptyObject="false">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}" />
      <attribute name="logger" layout="${logger}" />
      <attribute name="message" layout="${message}" />
      <attribute name="stackTrace" layout="${exception:format=ToString}" />
    </layout>

  </targets>

  <rules>
    <logger name="OF.ServiceInitiation.CentralBankConn.API.Logger" minlevel="Info" writeTo="OF.ServiceInitiation.CentralBankConn.API" />
    <logger name="AccountsApiLogger" minlevel="Info" writeTo="AccountsApi" />
    <logger name="AccountsApiJsonLogger" minlevel="Info" writeTo="AccountsApiJson" />
    <logger name="FxQuotesApiLogger" minlevel="Info" writeTo="FxQuotesApi" />
    <logger name="FxQuotesApiJsonLogger" minlevel="Info" writeTo="FxQuotesApiJson" />
    <logger name="PaymentFileApiLogger" minlevel="Info" writeTo="PaymentFileApi" />
    <logger name="PaymentFileApiJsonLogger" minlevel="Info" writeTo="PaymentFileApiJson" />
    <logger name="PaymentsApiLogger" minlevel="Info" writeTo="PaymentsApi" />
    <logger name="PaymentsApiJsonLogger" minlevel="Info" writeTo="PaymentsApiJson" />
    <logger name="ExceptionMiddlewareLogger" minlevel="Info" writeTo="ExceptionMiddleware" />
    <logger name="ExceptionMiddlewareJsonLogger" minlevel="Info" writeTo="ExceptionMiddlewareJson" />
  </rules>

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
</nlog>