<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Error" internalLogFile="${Logedir}./nlog-internal.txt">
  <variable name="Logedir" value="D:\Logs\ConsentEventService\" />
  <targets>
    <target name="OF.ConsentManagement.CoreBankConn.API" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}" 
            fileName="${Logedir}/OF.ConsentManagement.CoreBankConn.API/OF.ConsentManagement.CoreBankConn.API.txt" 
            archiveAboveSize="2000000" 
            archiveFileName="${Logedir}/OF.ConsentManagement.CoreBankConn.API/Archives/OF.ConsentManagement.CoreBankConn.API.{#}.txt" 
            archiveDateFormat="yyyy-MM-dd HH_mm_ss" 
            archiveNumbering="Date" 
            maxArchiveDays="1" 
            concurrentWrites="true" 
            keepFileOpen="true" 
            openFileCacheTimeout="30" />
    <target name="Consent" xsi:type="File" layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
         fileName="${Logedir}/Consent/Consent.txt"
         archiveAboveSize="2000000"
         archiveFileName="${Logedir}/Consent/Archives/Consent.{#}.txt"
         archiveDateFormat="yyyy-MM-dd HH_mm_ss"
         archiveNumbering="Date"
         maxArchiveDays="1"
         concurrentWrites="true"
         keepFileOpen="true"
         openFileCacheTimeout="30" />
    <target name="ConsentJson" xsi:type="File"
            fileName="${Logedir}/ConsentJson/ConsentJson.json"
            encoding="utf-8"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true" renderEmptyObject="false">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="stackTrace" layout="${exception:format=ToString}" />
      </layout>
    </target>

  </targets>
  <rules>
    <logger name="OF.ConsentManagement.CoreBankConn.APILogger" minlevel="Info" writeTo="OF.ConsentManagement.CoreBankConn.API" />
    <logger name="ConsentLogger" minlevel="Info" writeTo="Consent" />
    <logger name="ConsentJsonLogger" minlevel="Info" writeTo="ConsentJson" />
  </rules>
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
</nlog>